body {
  margin: 0;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

ul { 
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color:inherit;
}

button {
  border:1px solid #1F2937;
  border-radius: 8px;
  background: #3882F6;
  padding: 8px 36px;
  color: inherit;
  font-size: 18px;
  font-weight: bold;
  flex-grow: 0;
}

.header {
  background: #1F2937;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  padding: 20px 200px 50px 200px;
}

.gray {
  font-size: 18px;
  color: #E5E7EB;
}

.menu {
  display: flex;
  justify-content:space-between;
}

.right-links {
  display: flex;
  justify-content: end;
  gap: 20px;
}

.main-title {
  font-size: 48px;
  font-weight: 800;
}

.title {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
  margin-right: auto;
}

.title-left {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: baseline;
  gap: 12px;
}

.header-img {
  flex-shrink: 0;
  flex-grow: 0;
  width: 500px;
  height: 250px;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 60px;
}

.detail-title {
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
}

.detail-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card img{
  width: 150px;
  height: 150px;
  border: 2px solid #3882F6;
  border-radius: 8px;
}

.caption {
  width: 150px;
  font-size: 12px;
}

.quote {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 80px;
  background-color: #E5E7EB;
  
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1F2937;
  max-width: 600px;
}

.quote-name {
  font-size: 16px;
  font-weight: bold;
  padding-left: 200px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  color: #F9FAF8;
  padding: 20px;
}

.action-call {
  display: flex;
  justify-content: center;
  align-items: center;

}

.action-call-blue {
  display: flex;
  justify-content: space-between;
  margin: 80px 100px 80px 100px;
  padding: 20px 40px;
  background-color: #3882F6;
  border-radius: 8px;
  color: #F9FAF8;
  gap: 80px;
}

.action-text {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.action-title {
  font-weight: 800;
}

#button-footer {
  border-color: #F9FAF8;
}

